<%= form_for(@copipe) do |f| %>
  <% if @copipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copipe.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @copipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <div class="article_body">
      <%= f.text_area :body %>
    </div>
  </div>
  <!-- <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
