<%= form_for(@copipe) do |f| %>
  <% if @copipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copipe.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @copipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    タイトル <%= f.text_field :title %>
  </div>
  <div class="field">
    <div>本文</div>
    <div class="article_body">
      <%= f.text_area :body %>
    </div>
  </div>
  <div class="field">
    タグ
    <input name="tags" type="text" />
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
